*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark{
    background-color: black;
    color: whitesmoke;
}
span{
    color: green;
    font-weight: bold;
}
#sectionComments{
    border: 2px solid yellow;
    padding: 10px;
    border-radius: 15px;
}
.style{
    border: 2px solid yellow;
    padding: 10px;
    border-radius: 15px;
}